<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894893018049-f4lb7t70h5pi28fq01efvh7hcsndjvq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894893018049-f4lb7t70h5pi28fq01efvh7hcsndjvq9</string>
	<key>API_KEY</key>
	<string>AIzaSyDS2uL-RSlYK33A8YJzxPVSHgRteXOy6xo</string>
	<key>GCM_SENDER_ID</key>
	<string>894893018049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>goomy.tech.kokorico</string>
	<key>PROJECT_ID</key>
	<string>kokorico-goomy</string>
	<key>STORAGE_BUCKET</key>
	<string>kokorico-goomy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894893018049:ios:b0e930b1d59385c57cbd40</string>
</dict>
</plist>